### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import os


# Raw data file
file_to_load = "Resources/purchase_data.csv"

# Read purchasing file and store into pandas data frame
purchase_data = pd.read_csv(file_to_load)

pd_df = pd.DataFrame(purchase_data)
pd_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
unique_sn = pd_df['SN'].nunique()
temp_df = pd.DataFrame({'Total Players':[unique_sn]})
temp_df
#print(unique_sn)

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
unique_it = pd_df['Item Name']. nunique()
unique_price = pd_df['Price'].nunique()
avgVal = pd_df["Price"].mean()
numPurchases = pd_df["Item Name"].count()
totRev = pd_df["Price"].sum()
temp1_df = pd.DataFrame({'Item Name':[unique_it], 'Price':[avgVal], 'Total Purchases':[numPurchases], 'Total Revenue':[totRev]})

temp1_df

   Item Name     Price  Total Purchases  Total Revenue
0        179  3.050987              780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
#df = pd.DataFrame({'a':list('abssbab')})
numDudes = pd_df.groupby("Gender").nunique(['SN'])
temp2_df = pd.DataFrame({'Gender':[numDudes]})
perMale = [(x/unique_sn)*100 for x in numDudes['SN']]

numDudes['Percentage of Players'] = perMale

#numDudes = numDudes[['Percentage of Players'], ['SN']]
numDudes

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Percentage of Players
Gender,,,,,,,,
Female,113,81,22,1,90,90,79,14.062500
Male,652,484,39,1,182,178,144,84.027778
Other / Non-Disclosed,15,11,8,1,13,13,12,1.909722


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
#pd_df.head()

In [6]:
tempdf3 = pd_df[["Gender", "Price"]] 
#tempdf3.head()

In [7]:
f = {'Price': ['count','mean','sum']}

In [16]:
df3= tempdf3.groupby("Gender").agg(f[])

In [18]:
df3 = df3['Price']

In [22]:
df3['newAvg']=df3['sum']/df3['count']

C:\Users\Abhi\Anaconda3\envs\pythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [26]:
df3
df3.columns = ['Purchase Count','Average Mean', 'Total Purchase Value', 'Avg Total per person']
df3

,Purchase Count,Average Mean,Total Purchase Value,Avg Total per person
Gender,,,,
Female,113,3.203009,361.94,3.203009
Male,652,3.017853,1967.64,3.017853
Other / Non-Disclosed,15,3.346000,50.19,3.346000

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [13]:
# Establish bins for ages
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [14]:
uniqueDF = pd_df[['SN', 'Age','Gender']]
unique = uniqueDF.drop_duplicates()

In [15]:
unique['Bins'] = pd.cut(unique['Age'], age_bins, labels=group_names)
unique
temp4 = unique.groupby("Bins").count()
temp4 = pd.DataFrame(temp4['SN'])
temp4
temp4['Percentage'] = temp4['SN']/temp4['SN'].sum()*100
temp4.columns = ['Total Count','Percentage']
temp4

C:\Users\Abhi\Anaconda3\envs\pythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

       Total Count  Percentage
Bins
<10             17    2.951389
10-14           22    3.819444
15-19          107   18.576389
20-24          258   44.791667
25-29           77   13.368056
30-34           52    9.027778
35-39           31    5.381944
40+             12    2.083333

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [27]:
pur_demo = purchase_data[['Age', 'Price']]

In [32]:
pur_demo['age_bin'] = pd.cut(pur_demo['Age'],age_bins,labels = group_names)

C:\Users\Abhi\Anaconda3\envs\pythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [36]:
pur_demo[['age_bin', 'Price']].groupby(by = "age_bin").agg(f)

        Price
        count      mean      sum
age_bin
<10        23  3.353478    77.13
10-14      28  2.956429    82.78
15-19     136  3.035956   412.89
20-24     365  3.052219  1114.06
25-29     101  2.900990   293.00
30-34      73  2.931507   214.00
35-39      41  3.601707   147.67
40+        13  2.941538    38.24

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

In [46]:
tSpenders = unique.max()
tSpenders

SN                    Zontibe81
Age                          45
Gender    Other / Non-Disclosed
Bins                        <10
dtype: object

In [49]:
#tspend = numDudes.nlargest()

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80